{% extends "admin/base.html" %}

{% block main %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ photo }}</h1>
            
            <div class="btn-toolbar mb-2 mb-md-0">
              <!--<div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>-->
                
                {% if photo.id %}
                <a href="{{ path_for('photo', {'id':photo.id}) }}" target="_blank" type="button" class="btn btn-outline-secondary mr-2">View</a>
                <form method="post" action="{{ path_for('delete', {'id':photo.id}) }}">
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteDialog">Delete</button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="deleteDialogLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="deleteDialogLabel">Delete Photo #{{photo.id}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            Are you sure? Really?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">No</button>
                            <button type="submit" class="btn btn-danger">Yes</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>

        {% if photo.id %}
        <form method="post" action="{{ path_for('editpost', {'id':photo.id}) }}" enctype="multipart/form-data">
        {% else %}
        <form method="post" action="{{ path_for('createpost') }}" enctype="multipart/form-data">
        {% endif %}
            <div class="row">
                <div class="col-md-10">

                    <div class="form-group ">
                        <label for="title">Title</label>
                        <input type="input" class="form-control {%if errors.title%}is-invalid{%endif%}" id="title" name="title" value="{{photo.title}}">
                        {%if errors.title%}<div class="invalid-feedback">{{errors.title}}</div>{%endif%}
                    </div>
                    
                    <div class="row justify-content-around align align-items-start">
                        <div class="form-group photo-upload">
                            <label for="file">Photo file</label>
                            
                            <img src="{%if photo.file%}{{ photo.photoUrl }}{%else%}/placeholder.svg{%endif%}" class="img-thumbnail {%if errors.file%}is-invalid{%endif%}">
                            
                            <div class="buttons">
                                <label class="btn btn-primary" for="file">Upload</label>
                                <!-- <label class="btn btn-outline-warning photo-upload-delete-label" for="delete_file">Delete</label>-->
                            </div>
                            <input type="file" name="file" id="file" class="photo-upload-file" />
                            <!-- <input type="checkbox" name="delete_file" id="delete_file" class="photo-upload-delete" /> -->
                            
                            {%if errors.file%}<div class="invalid-feedback">{{errors.file}}</div>{%endif%}
                        </div>
                        <div class="form-group photo-upload">
                            <label for="fileorig">Original photo file</label>
                            <img src="{%if photo.fileorig%}{{ photo.originalPhotoUrl }}{%else%}/placeholder.svg{%endif%}" alt="..." class="img-thumbnail {%if errors.fileorig%}is-invalid{%endif%}"">
                            <div class="buttons">
                                <label class="btn btn-primary" for="fileorig">Upload</label>
                                <label class="btn btn-outline-warning photo-upload-delete-label" for="delete_fileorig">Delete</label>
                            </div>
                            <input type="file" name="fileorig" id="fileorig" class="photo-upload-file" />
                            <input type="checkbox" name="delete_fileorig" id="delete_fileorig" class="photo-upload-delete"></input>
                            
                            {%if errors.fileorig%}<div class="invalid-feedback">{{errors.fileorig}}</div>{%endif%}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description">{{photo.description}}</textarea>
                    </div>
                    
                    <div class="form-group">
                        <label for="Exif">Exif</label>
                        <textarea class="form-control" id="exif" name="exif">{{photo.exif}}</textarea>
                    </div>
                    
                    <!--
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <input type="input" class="form-control" id="tags" name="tags" value="{{photo.tags}}">
                    </div>
                    -->
                </div>
                
                <div class="col-md-2 d-flex flex-column  border-left">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select  class="form-control" id="status" name="status">
                            <option value="0" {% if photo.status == 0 %}selected{% endif %}>Draft</option>
                            <option value="1" {% if photo.status == 1 %}selected{% endif %}>Public</option>
                        <select>
                    </div>
                    
                    <button type="submit" class="btn btn-primary" id="save" name="save">Save</button>
                    
                    <hr>
                    <a href="{{ path_for('admin') }}" class="btn btn-light">Cancel</a>
                </div>
            </div>
        </form>
        
{% endblock %}
