{% extends "admin/base.html" %}

{% block main %}
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2">Photos</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <a href="{{ path_for('create') }}" class="btn btn-sm btn-outline-primary">New</a>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th></th>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Created</th>
                  <th>Published</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for photo in photos %}
                <tr>
                  <td>
                    <a href="{{ path_for('edit', {'id':photo.id}) }}">
                        <img src="{{ photo.photoThumbUrl() }}" 
                            title="{{ photo.title }}"
                            class="img-thumbnail"
                            style="height:100px">
                    </a>
                  </td>
                  <td class="align-middle">{{ photo.title }}</td>
                  <td class="align-middle">{% if photo.status == 0 %}Draft{% else %}Public{% endif %}</td>
                  <td class="align-middle">{{ photo.created | date('Y M d h:m') }}</td>
                  <td class="align-middle">{% if photo.published > 0 %}{{ photo.published | date('Y M d h:m') }}{% endif %}</td>
                  <td class="align-middle"><a href="{{ path_for('edit', {'id':photo.id}) }}">edit</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
{% endblock %}
