<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="generator" content="PhPhotoBlog v0.0.1">
        <title>{% block title %}PhPhotoBlog{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
        <style>
            .navbar-brand img { vertical-align: bottom; }
            .main {
                display: flex;
                flex-direction: column;
                height: 100vh;
            }
            .thephoto {
                max-height: 90vh;
                min-height: 10vh;
                width: auto;
            }
            
            /* toggle view original */
            .toggleoriginal {
                position: absolute;
                right: 1em;
                bottom: 0.5em;
            }
            
            .toggleoriginal.on .svg-icon path {
              fill: #ffffff;
            }
            .toggleoriginal.on .svg-icon circle {
              stroke: #4691f6;
            }

            
            /* -----
            SVG Icons - svgicons.sparkk.fr
            ----- */

            .svg-icon {
              width: 1em;
              height: 1em;
            }

            .svg-icon path,
            .svg-icon polygon,
            .svg-icon rect {
              fill: #4691f6;
            }

            .svg-icon circle {
              stroke: #4691f6;
              stroke-width: 1;
            }
        </style>
        
    </head>
    <body class="bg-dark">
        {% block main %}
        {% endblock %}
        
        <footer class="text-center text-light p-2 m-5 border-top border-secondary">
            &copy 2018
        </footer>
        
        
        <script src="/jquery-3.3.1.slim.min.js"></script>
        <script>
        /* toggle view original */
        var view = 0;
        $(".toggleoriginal").on('click', function(evt) {
            view = 1 - view;
            
            switch(view) {
             case 0:
                $("#file").prop("hidden", false);
                $("#fileorig").prop("hidden", true);
                $(".toggleoriginal").removeClass("btn-primary").addClass("btn-outline-primary").removeClass("on");
                break;
             case 1:
                $("#file").prop("hidden", true);
                $("#fileorig").prop("hidden", false);
                $(".toggleoriginal").addClass("btn-primary").removeClass("btn-outline-primary").addClass("on");
                break;
            }
        });
        
        
        </script>
    </body>
</html>
