{% extends "base.html" %}

{% block main %}
    <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/"><img src="/phphotoblog.svg" alt="" width="32" height="32"> PhPhotoBlog</a>
    </nav>
           
    <div class="d-flex p-4 justify-content-md-start justify-content-sm-center flex-wrap">
         {% for photo in photos %}
         <a href="{{ path_for('photo', {'id':photo.id}) }}" class="m-2">
            <img src="{{ photo.photoThumbUrl() }}" 
                title="{{ photo.title }}"
                class="img-thumbnail bg-dark">
         </a>
         {% endfor %}
    </div>
{% endblock %}
