{% extends "base.html" %}
{% block title %}{{ photo.title }} - {{ parent() }} {% endblock %}

{% block main %}
        <div class="main">
            <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
                <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/"><img src="/phphotoblog.svg" alt="" width="32" height="32"> PhPhotoBlog</a>
                
                <a href="{{ path_for('photo', {'id':photo.id}) }}" class="text-light">{{ photo.title }}</a>
                
                <ul class="nav px-3 col-sm-3 col-md-2">
                    {% if photo.prevPublicId() %}
                    <li class="nav-item text-nowrap">
                        <a class="nav-link text-light" href="{{ path_for('photo', {'id': photo.prevPublicId()}) }}">
                            <svg class="svg-icon" viewBox="0 0 20 20">
                                <path fill="none" d="M8.388,10.049l4.76-4.873c0.303-0.31,0.297-0.804-0.012-1.105c-0.309-0.304-0.803-0.293-1.105,0.012L6.726,9.516c-0.303,0.31-0.296,0.805,0.012,1.105l5.433,5.307c0.152,0.148,0.35,0.223,0.547,0.223c0.203,0,0.406-0.08,0.559-0.236c0.303-0.309,0.295-0.803-0.012-1.104L8.388,10.049z"></path>
                            </svg>
                            Prev
                        </a>
                    </li>
                    {% endif %}
                    <a class="nav-link text-light" href="{{ path_for('gallery') }}">
                            <svg class="svg-icon" viewBox="0 0 20 20">
                                <path fill="none" d="M16.803,18.615h-4.535c-1,0-1.814-0.812-1.814-1.812v-4.535c0-1.002,0.814-1.814,1.814-1.814h4.535c1.001,0,1.813,0.812,1.813,1.814v4.535C18.616,17.803,17.804,18.615,16.803,18.615zM17.71,12.268c0-0.502-0.405-0.906-0.907-0.906h-4.535c-0.501,0-0.906,0.404-0.906,0.906v4.535c0,0.502,0.405,0.906,0.906,0.906h4.535c0.502,0,0.907-0.404,0.907-0.906V12.268z M16.803,9.546h-4.535c-1,0-1.814-0.812-1.814-1.814V3.198c0-1.002,0.814-1.814,1.814-1.814h4.535c1.001,0,1.813,0.812,1.813,1.814v4.534C18.616,8.734,17.804,9.546,16.803,9.546zM17.71,3.198c0-0.501-0.405-0.907-0.907-0.907h-4.535c-0.501,0-0.906,0.406-0.906,0.907v4.534c0,0.501,0.405,0.908,0.906,0.908h4.535c0.502,0,0.907-0.406,0.907-0.908V3.198z M7.733,18.615H3.198c-1.002,0-1.814-0.812-1.814-1.812v-4.535c0-1.002,0.812-1.814,1.814-1.814h4.535c1.002,0,1.814,0.812,1.814,1.814v4.535C9.547,17.803,8.735,18.615,7.733,18.615zM8.64,12.268c0-0.502-0.406-0.906-0.907-0.906H3.198c-0.501,0-0.907,0.404-0.907,0.906v4.535c0,0.502,0.406,0.906,0.907,0.906h4.535c0.501,0,0.907-0.404,0.907-0.906V12.268z M7.733,9.546H3.198c-1.002,0-1.814-0.812-1.814-1.814V3.198c0-1.002,0.812-1.814,1.814-1.814h4.535c1.002,0,1.814,0.812,1.814,1.814v4.534C9.547,8.734,8.735,9.546,7.733,9.546z M8.64,3.198c0-0.501-0.406-0.907-0.907-0.907H3.198c-0.501,0-0.907,0.406-0.907,0.907v4.534c0,0.501,0.406,0.908,0.907,0.908h4.535c0.501,0,0.907-0.406,0.907-0.908V3.198z"></path>
                            </svg>
                            Gallery
                        </a>
                    </li>
                    {% if photo.nextPublicId() %}
                    <li class="nav-item text-nowrap">
                        <a class="nav-link text-light" href="{{ path_for('photo', {'id': photo.nextPublicId()}) }}">
                            Next
                            <svg class="svg-icon" viewBox="0 0 20 20">
                                <path fill="none" d="M11.611,10.049l-4.76-4.873c-0.303-0.31-0.297-0.804,0.012-1.105c0.309-0.304,0.803-0.293,1.105,0.012l5.306,5.433c0.304,0.31,0.296,0.805-0.012,1.105L7.83,15.928c-0.152,0.148-0.35,0.223-0.547,0.223c-0.203,0-0.406-0.08-0.559-0.236c-0.303-0.309-0.295-0.803,0.012-1.104L11.611,10.049z"></path>
                            </svg>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
           
            <div class="container-fluid flex-grow-1 d-flex justify-content-center align-items-center p-2 ">
                <img class="thephoto" id="file" src="{{ photo.photoUrl() }}">
                {% if photo.fileorig %}
                <img class="thephoto" id="fileorig" src="{{ photo.originalPhotoUrl() }}" hidden>
                {% endif %}
            </div>
  
            {% if photo.fileorig %}
            <button class="btn btn-outline-primary text-light toggleoriginal">
                <svg class="svg-icon" viewBox="0 0 20 20">
                    <path d="M10,6.978c-1.666,0-3.022,1.356-3.022,3.022S8.334,13.022,10,13.022s3.022-1.356,3.022-3.022S11.666,6.978,10,6.978M10,12.267c-1.25,0-2.267-1.017-2.267-2.267c0-1.25,1.016-2.267,2.267-2.267c1.251,0,2.267,1.016,2.267,2.267C12.267,11.25,11.251,12.267,10,12.267 M18.391,9.733l-1.624-1.639C14.966,6.279,12.563,5.278,10,5.278S5.034,6.279,3.234,8.094L1.609,9.733c-0.146,0.147-0.146,0.386,0,0.533l1.625,1.639c1.8,1.815,4.203,2.816,6.766,2.816s4.966-1.001,6.767-2.816l1.624-1.639C18.536,10.119,18.536,9.881,18.391,9.733 M16.229,11.373c-1.656,1.672-3.868,2.594-6.229,2.594s-4.573-0.922-6.23-2.594L2.41,10l1.36-1.374C5.427,6.955,7.639,6.033,10,6.033s4.573,0.922,6.229,2.593L17.59,10L16.229,11.373z"></path>
                </svg>
                View original
            </button>
            {% endif %}
        
       </div>
       <div class="container fluid">
            <p class="text-center text-light">{{ photo.description }}</p>
       </div>
{% endblock %}
